body{
    font-family: 'Poppins', sans-serif;
    max-width: 1280px;
    margin: 0 auto;
    background-color: rgb(81, 78, 78);
    color: #333333;
}

body.dark-mode{
    background-color: #212121;
    color: #f5f5f5;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 25px;
}

header .logo,
header .button-image{
    width: 30px;
    transition: 0.2s ease-in-out;
}

header #change-button-theme{
    background: none;
    border: none;
}

header .logo:hover,
header .button-image:hover,
header .pokemon-label:hover,
main .poke-card:hover{
    transform: scale(1.10);
    cursor: pointer;
}

header .pokemon-label{
    width: 160px;
    transition: 0.2s ease-in-out;
}

main{
    padding: 25px;
}

main .pokemon-list{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

main .poke-card{
    background-color: #d8e3ec;
    width: 200px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    border-radius: 15px;
    transition: 0.2s ease-in-out;
}

header .poke-card:hover{
    background-color: #96d9d6;
}

.dark-mode .poke-card{
    background-color: #a8a8a8;
}

main .poke-card .info{
    display: flex;
    justify-content: space-between;
    border: 1px solid #333333;
    border-radius: 10px;
}

main .poke-card .info span{
    padding: 5px;
    text-transform: uppercase;
    font-size: 17px;
} 

main .poke-card .gif{
    width: 90px;
    height: 90px;
}

main .poke-card .types{
    display: flex;
    gap: 15px;
}

main .poke-card .type{
    padding: 8px;
    border-radius: 10px;
}

.grass{
    background-color: #7ac74c;
}

.poison{
    background-color: #df67ddfb;
}

.fire{
    background-color: #ee8130;
}

.water{
    background-color: #6390f0;
}

.flying{
    background-color: #3dc7ef;
}

.bug{
    background-color: #729f3f
}

main .description{
    max-height: 80px;
    overflow-y: scroll;
    font-size: 14px;
    padding-right: 10px;
}

main #profile-box {
    width: 300px;
    height: 70vh;
    background-color: rgb(100, 100, 100);
    position: fixed;
    top: 50%;
    left: -300px;
    transform: translate(0%, -50%);
    transition: left 0.6s ease;
    border-radius: 5%;
    padding: 10px;
  }